body {
	margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	width: 900px;
	min-height: 900px;
	margin: 0 auto;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	position: relative;
	padding: 40px;
}

/* Don't change CSS code above this line */
/* Write CSS code below this line */

/** Element CSS */
h1 {
	color: #0e2452;
}
p {
	margin: 0;
}

/** Id CSS */
#info {
	position: relative;
}

/** Class CSS */
.section {
	margin: 40px;
}
.section-title {
	text-transform: uppercase;
	font-weight: 900;
	border-bottom: 2px solid black;
}
/* Bỏ border ở class section-title trong info section */
#info .section-title {
	border-bottom: none;
}
/** Info Session */
.info-key {
	width: 100px;
	font-weight: bold;
}
.info-avatar {
	position: absolute;
	top: 0;
	right: 0;
	width: 113px;
	height: 167px;
}
.info-img {
	width: 113px;
	height: 113px;
}
/** Target Section */
.target-text {
	text-align: justify;
}
/** Education Section */
.section-content-key {
	display: block;
	width: 200px;
	float: left;
}

.section-content-subject {
	font-weight: 700;
}
.section-content-text {
	max-width: 620px;
	line-height: 20px;
}
.section-content-value {
	display: block;
	float: left;
}
.section-content-block {
	padding-bottom: 10px;
}
.section-content-block::after {
	display: block;
	content: '';
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
	clear: both;
}
