* {
	font-family: sans-serif;
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
/* Bold for list item */
.section-number > li::marker {
	font-size: 24px;
	font-weight: bold;
}
.subsection-number > li::marker {
	font-size: 18.72px;
	font-weight: bold;
}
.subsection-description {
	margin-left: 130px;
	display: block;
	width: min-content;
}
.subsection-text {
	text-align: center;
	display: block;
}
/* Custom Lab listitem */
.lab {
	list-style: none;
	counter-reset: item;
}
.lab > li {
	counter-increment: item;
	margin-bottom: 5px;
	column-count: Lab(item);
	line-height: 25px;
	width: 85%;
}
.lab > li:before {
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 0 10px;
	background: lightblue;
	border-radius: 10px;
	color: #000;
	width: 80px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}
.lab.lab1 > li:before {
	content: 'Lab1.' counter(item);
}
.lab.lab2 > li:before {
	content: 'Lab2.' counter(item);
}
.lab.lab3 > li:before {
	content: 'Lab3.' counter(item);
}
.lab.lab4 > li:before {
	content: 'Lab4.' counter(item);
}
.lab.lab5 > li:before {
	content: 'Lab5.' counter(item);
}
.lab.lab6 > li:before {
	content: 'Lab6.' counter(item);
}
.lab.lab7 > li:before {
	content: 'Lab7.' counter(item);
}
.lab.lab8 > li:before {
	content: 'Lab8.' counter(item);
}
.lab.lab9 > li:before {
	content: 'Lab9.' counter(item);
}
