* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	line-height: 1.4;
}
.requirement {
	display: block;
	margin-bottom: 20px;
}
.container {
	border: 4px solid black;
	width: 825px;
	margin: auto;
	position: relative;
}
.container::before {
	position: absolute;
	content: 'SALE';
	color: white;
	background-color: orangered;
	padding: 5px 15px;
	font-weight: 600;
	letter-spacing: 2px;
	top: -16px;
	left: -40px;
}

article p:nth-child(4) {
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #eee;
	padding: 15px;
}

h3 {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 30px;
}

p strong {
	font-size: 24px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style-type: square;
}
ul li {
	margin-bottom: 10px;
	margin-left: 20px;
}
ul li:last-child {
	margin-bottom: 0px;
}

button {
	font-size: 20px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	width: 100%;
	padding: 15px;
	border-top: 5px solid black;
}

button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}
.color {
	background-color: black;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 30px;
	margin-right: 10px;
}
/* color picker can not pick color trong file word của lab. nên phần này e xem hướng dẫn để lấy mã màu hex chính xác. */
.color-blue {
	background-color: #2f6ee2;
}
.color-red {
	background-color: #ec2f2f;
}
.color-yellow {
	background-color: #f0bf1e;
}
.color-green {
	background-color: #90cc20;
}
.color-brown {
	background-color: #885214;
}
