/* Universal Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif;
	color: #343a40;
	line-height: 1;
}

/* CSS */
.carousel {
	width: 900px;
	min-height: 200px;
	background-color: #087f5b;
	margin: 100px auto;
	border-radius: 8px;
	color: white;
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.carousel-img {
	position: absolute;
	display: block;
	width: 300px;
	height: 300px;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.carousel--info {
	width: 50%;
	margin: 30px 50px;
}
.carousel--content {
	margin-bottom: 50px;
	line-height: 1.6;
}
.carousel--author,
.carousel--job {
	font-size: 14px;
	line-height: 1.4;
	opacity: 0.9;
}
.carousel--job {
	font-size: 12px;
}
.arrow--right,
.arrow--left {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
svg {
	width: 24px;
	height: 24px;
	color: #087f5b;
}
.arrow--right {
	right: 0;
}
.arrow--left {
	left: -0;
}

.carousel--multidot {
	width: 100px;
	position: absolute;
	min-height: 20px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot {
	width: 10px;
	height: 10px;
	border: 1px solid #087f5b;
	border-radius: 50%;
	margin: auto 4px;
	cursor: pointer;
}
.dot.filled {
	background-color: #087f5b;
}
